a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.brand-name {
  font-weight: bold;
}

.slogan {
  font-size: 14px;
  color: #888; 
  margin-top: 5px; 
}

.dropdown-category-name {
  font-weight: bold;
}

.dropdown-category-slogan {
  font-size: 10px;
  color: #888; 
  margin-top: 1px; 
}

